header{position:absolute;
top:0px;
width:70%;
height:60px;
background-color:black;
margin-top: 150px;
}

header ul li{float:left;
list-style: none;
padding-left: 40px;
color:white;
font-size:13px;
}

h1{border-left: 5px solid black;
border-bottom: 3px solid black;
    margin-top: 150px;
}

footer{
    width:100%;
    height:60px;
    bottom:0;
    left:0x;
    color:white;
    background-color:black;
    text-align: center;
    line-height: 60px;
}

.logo{border-bottom: dotted black;
   float: right;
}