header{float:left;
width:100%;
background-color: black;}

header ul{line-height: 30px;
}

header ul li{float:left;
    list-style: none;
    color:white;
    font-size:15px;
    padding-right: 90px;
}


.dddd{border-left:5px solid gray;
border-bottom: 3px solid gray;
    width:800px;
    margin-top:100px;
    font-size:30px;
    padding-left: 10px;
}

h2{border-bottom: 5px dotted gray;
}

.main{    
}

.left{float:left;
}

.right{float:left;
    margin-left: 70px;
}

footer{clear:left;
height:40px;
color:white;
background-color: black;
text-align: center;
line-height: 40px;
padding-top: 30px;}